In [3]:
import pandas as pd

# Load the Excel file
file_path = 'Most Streamed Spotify Songs 2024 - Research.xlsx'
xls = pd.ExcelFile(file_path)

# Display sheet names to identify relevant data
print(xls.sheet_names)

['Views', 'Likes', 'Most Streamed Spotify Songs 202']

In [15]:
# Load the 'Likes' sheet
likes_df = pd.read_excel(xls, sheet_name='Likes', skiprows=2)

# Rename 'Row Labels' column
likes_df.rename(columns={'Row Labels': 'Song Title'}, inplace=True)

# Load the 'Views' sheet
views_df = pd.read_excel(xls, sheet_name='Views', skiprows=2)
views_df.rename(columns={'Row Labels': 'Song Title'}, inplace=True)

most_streamed_df = pd.read_excel(xls, sheet_name='Most Streamed Spotify Songs 202')

likes_df.head()

,Song Title,Max of Spotify Popularity,Min of All Time Rank,Sum of Spotify Playlist Count,Sum of TikTok Likes,Sum of YouTube Likes
0,Without Me,83.0,200,603477.0,2.354115e+08,38043329.0
1,Blinding Lights,83.0,56,590392.0,3.373226e+08,10093211.0
2,goosebumps,82.0,549,510594.0,2.049043e+08,13556723.0
3,Heat Waves,82.0,71,486278.0,5.133344e+08,14947520.0
4,STAY (with Justin Bieber),78.0,27,463458.0,2.246991e+09,14661425.0

In [19]:
# Ensure that the key columns have consistent names across DataFrames to facilitate merging
likes_df.rename(columns={'Song Title': 'Song'}, inplace=True)
views_df.rename(columns={'Song Title': 'Song'}, inplace=True)

# Select relevant columns
likes_df = likes_df[['Song', 'Sum of TikTok Likes', 'Sum of YouTube Likes']]
views_df = views_df[['Song', 'Sum of YouTube Views']]

likes_df.head()

                        Song  Sum of TikTok Likes  Sum of YouTube Likes
0                 Without Me         2.354115e+08            38043329.0
1            Blinding Lights         3.373226e+08            10093211.0
2                 goosebumps         2.049043e+08            13556723.0
3                 Heat Waves         5.133344e+08            14947520.0
4  STAY (with Justin Bieber)         2.246991e+09            14661425.0

In [20]:
# Combine the two DataFrames based on the 'Song' column
merged_df = pd.merge(likes_df, views_df, on='Song', how='inner')

merged_df.head()

,Song,Sum of TikTok Likes,Sum of YouTube Likes,Sum of YouTube Views
0,Without Me,2.354115e+08,38043329.0,4.304317e+09
1,Blinding Lights,3.373226e+08,10093211.0,8.338071e+08
2,goosebumps,2.049043e+08,13556723.0,1.413468e+09
3,Heat Waves,5.133344e+08,14947520.0,1.272898e+09
4,STAY (with Justin Bieber),2.246991e+09,14661425.0,1.256974e+09

In [21]:
# Remove rows with missing values
merged_df.dropna(inplace=True)

merged_df.head()

,Song,Sum of TikTok Likes,Sum of YouTube Likes,Sum of YouTube Views
0,Without Me,2.354115e+08,38043329.0,4.304317e+09
1,Blinding Lights,3.373226e+08,10093211.0,8.338071e+08
2,goosebumps,2.049043e+08,13556723.0,1.413468e+09
3,Heat Waves,5.133344e+08,14947520.0,1.272898e+09
4,STAY (with Justin Bieber),2.246991e+09,14661425.0,1.256974e+09